h1{
    font-weight: bold;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-right:20px;
    font-style: italic;
    font-size: 30px;
}
h2{
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}

.youtube{
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtubebutton{
    fill:aqua;
    stroke:black;
}